/*---------------------------------------------------------------------------------*/
/* Global CSS */

/* To avoid browser differences in margin/padding, and use the more intuitive border-box model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* So all anchor links will use smooth scrolling */
html {
  scroll-behavior: smooth;
}

/*---------------------------------------------------------------------------------*/
/* Navigation Bar  */

.navbar {
  background-color: #343a40;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
}

/* The logout button is not displayed by default, only when the user is logged in. */
.logout-btn {
  display: none;
}

/*---------------------------------------------------------------------------------*/
/* Login/Signup Modals  */

.modal-dialog {
  max-width: 450px;
}

.modal-content {
  padding: 0 1rem 1rem 1rem;
}

/* The -2rem top-margin is to ensure the modal header text isn't below the x button to dismiss the modal */
.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.modal-footer-content {
  padding: 0.3rem 0rem;
}

/*---------------------------------------------------------------------------------*/
/* Carousel/Slideshow */

.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* A linear gradient is used to darken the background image so the white caption text is more readable. */
.carousel-image-1 {
  background-image: linear-gradient(rgba(70, 70, 70, 0.6), rgba(0, 0, 0, 0.7)),
    url('./img/computerstore1.jpg');
}

.carousel-image-2 {
  background-image: linear-gradient(rgba(70, 70, 70, 0.6), rgba(0, 0, 0, 0.7)),
    url('./img/computerstore2.jpg');
}

.carousel-image-3 {
  background-image: linear-gradient(rgba(70, 70, 70, 0.6), rgba(0, 0, 0, 0.7)),
    url('./img/computerstore3.jpg');
}

.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------------------------------------------------------------------------------*/
/* Contact Modal */

/* To override bootstrap default styling and ensure that the text-area input and its icon is displayed at 100% height */
.contact-textarea,
.contact-textarea--icon {
  height: auto !important;
}

/*---------------------------------------------------------------------------------*/
/* Collapse/Accordian */

.card-header:hover {
  cursor: pointer;
}

/*---------------------------------------------------------------------------------*/
/* Testimonials */

/* The element is set to position: relative to ensure that the absolutely positioned arrow uses it as a reference point. */
.testimonial-textbox {
  padding: 30px;
  background-color: #fff;
  position: relative;
}

/* For styling the arrow going from the textbox to the author image. */
.testimonial-textbox::after {
  content: '';
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}

.testimonial-image {
  max-width: 60px;
  float: left;
}

.testimonial-twitter {
  color: #1da1f2;
}

/*---------------------------------------------------------------------------------*/
/* Login Alert */

/* It is not displayed by default, only when a user clicks the add to cart button when not logged in. */
.login-alert {
  display: none;
  background-color: #f44336;
  max-width: 500px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.login-alert-link {
  text-decoration-line: underline;
}

.close-login-alert-btn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

/*---------------------------------------------------------------------------------*/
/* Products */

.product-image-container {
  text-align: center;
}

.product-image {
  width: 350px;
  height: 250px;
}

.star {
  color: #ffa41c;
}

/*---------------------------------------------------------------------------------*/
/* Order Summary */

/* Order summary section is not shown by default, only when the user is logged in */
.order-summary {
  display: none;
}

/* For hiding the order summary table rows for each product by default, unless the user has added that product to their cart */
.order-row {
  display: none;
}

.product-image-table {
  width: 50px;
  height: 50px;
}

.table td {
  vertical-align: middle;
}

/*---------------------------------------------------------------------------------*/
/* Checkout Form Modal */

.checkout-modal {
  max-width: 960px;
}
